@model IEnumerable<MyClass.Models.Config>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header {
    <link href="~/Public/css/cdn.datatables.net_1.13.6_css_jquery.dataTables.min.css" rel="stylesheet" />
}

@section footer {
    <script src="~/Public/js/cdn.datatables.net_1.13.6_js_jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">DANH MỤC CẤU HÌNH</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Create","Config")" class="btn-sm btn-success"> <i class="fa fa-plus"></i>Thêm</a>
                        <a href="@Url.Action("Trash","Config")" class="btn-sm btn-danger"> <i class="fa fa-trash"></i>Thùng rác</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 20px;"># </th>
                            <th>Tên cấu hình</th>
                            <th>Giá trị</th>
                            <th>Id</th>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" name="checkId" value="" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Name) </td>
                                <td>@Html.DisplayFor(modelItem => item.Value) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->