﻿@model MyClass.Models.Supplier

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>XÓA DANH MỤC TOPIC</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Index","Supplier")" class="btn-sm btn-info"> <i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
                            @* @Html.ActionLink("Back to List", "Index")*@
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Slug)</th>
                                    <th>@Html.DisplayNameFor(model => model.Img)</th>
                                    <th>@Html.DisplayNameFor(model => model.Order)</th>
                                    <th>@Html.DisplayNameFor(model => model.MetaDesc)</th>
                                    <th>@Html.DisplayNameFor(model => model.MetaKey)</th>
                                    <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                    <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                                    <th>@Html.DisplayNameFor(model => model.UpdateBy)</th>
                                    <th>@Html.DisplayNameFor(model => model.UpdateAt)</th>
                                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                    <td>@Html.DisplayFor(model => model.Slug)</td>
                                    <td>@Html.DisplayFor(model => model.Img)</td>
                                    <td>@Html.DisplayFor(model => model.Order)</td>
                                    <td>@Html.DisplayFor(model => model.MetaDesc)</td>
                                    <td>@Html.DisplayFor(model => model.MetaKey)</td>
                                    <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                                    <td>@Html.DisplayFor(model => model.UpdateBy)</td>
                                    <td>@Html.DisplayFor(model => model.UpdateAt)</td>
                                    <td>@Html.DisplayFor(model => model.Status)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions no-color">
                        <button class="btn-sm btn-danger" type="submit" name="Delete"> Xóa [Delete] <i class="fa fa-trash"></i> </button>
                        @*<input type="submit" value="Delete" class="btn btn-default" />*@
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}